/*----------INDEX--------------*/
/*
**PARTE REGISTO A PARTIR LINHA 915 
*/
:root {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  --white: #f9f9f9;
  --light-grey: #c8e4e7;
  --grey: grey;
  --green1: #2CCCD3;
  --green2: #21979c;
  --green3: #223C4A;
  --black: #0e1a21;
  --overlay: #223c4aab;

  --todo: #cffdffd7;
  --doing: #9cfaffd5;
  --done: #2cccd4d7;

  margin: 0;
  padding: 0;
  background-color: var(--black);
  position: relative;
  background-image: url('multimedia/background_main_task.png')
}

/* Video em background da página index (página index.html) */
.video-container {
  z-index: 0;
  position: relative;
  height: 100vh;
  overflow: hidden;
}
#background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}
/* Overlay para aproximar a cor do vídeo com a palete de cores */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--overlay);
}

/* Definições do painel de login */
.center-container {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  opacity: 0;
  animation: fadeIn 1s ease-in-out 0.5s forwards;
}
.loginpanel {
  z-index: 3;
  padding: 20px;
  font-size: 15px;
  text-align: center;
  color: var(--green3);
  background-color: color-mix(in srgb, var(--light-grey), transparent 10%);
  border-radius: 10px;
  height: 440px;
  width: 330px;
}
#login,
#password {
  margin-bottom: 15px;
  padding-left: 5px;
  width: 150px;
  height: 25px;
  border: var(--green3) 1px solid;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  text-align: left;;
  
}
#login {
  margin-top: 20px;
  position: relative;
}
#login-home {
  margin-right: 5px;
  display: inline;
  font-size: large;
  position: relative; 
  left: 60px; 
}
.loginpanel ::placeholder {
  color: var(--green2);
}
.loginpanel input[type="text"] {
  color: var(--green3);
}
.loginpanel #loginButton {
  text-align: center;
  margin-top: 10px;
  padding-left: 10px;
  width: 120px;
  height: 32px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  background-color: var(--doing);
  color: var(--green3);
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}
.loginpanel #loginButton:hover {
  background-color: var(--green3);
  color: var(--green1);
}
.loginpanel #registerButton {
  text-align: center;
  padding-left: 10px;
  width: 120px;
  height: 32px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  background-color: var(--doing);
  color: var(--green3);
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}
.loginpanel #registerButton:hover {
  background-color: var(--green3);
  color: var(--green1);
}
#warningMessage {
  color: var(--green3);
  font-size: 14px;
  margin-top: 17px;
}
/* Animação fade in para o container de login */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Definições do header na página home.html */
header {
  width: auto;
  height: 80px;
  color: white;
  background-color: var(--green3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
/* Título Welcome to Scrum */
h1 {
  margin-left: 7px;
  font-size: 20px;
  color: var(--light-grey);
}
/* Definições do relógio */
.container.clock {
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.display-date,
.display-time {
  font-size: 0.9rem; 
  font-weight: 200;
  -webkit-box-reflect: below 2px
  linear-gradient(transparent, rgba(255, 255, 255, 0.05));
  color: var(--light-grey);
  margin-left: -260px; 
}
.display-date {
  text-align: center;
}
.display-time {
  display: flex;
  margin-left: 0px;
  transition: ease-in-out 0.1s;
  transition-property: background, box-shadow, color;
}
/*imagem de perfil que aparece no header*/
#profileImageHome{
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  position: relative;
  left: 50px;
}

/* Username */
.username {
  color: var(--green1);
  display: flex;
  align-items: center; 
  justify-content: center; 
  
}
.username input {
  padding: 5px;
  width: 150px;
}
.username #login {
  color: var(--light-grey);
  font-weight: bold;
}
/* Logout button */
.logout-button {
  margin-right: 0.5rem;
  background-color: var(--green3);
  color: var(--light-grey);
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 15px;
  border-radius: 5px;
}
.logout-button img {
  width: 18px;
  height: 19px;
  margin-right: 8px;
}
/* Definições do link de logout no header (default e hover) */
.logout-link {
  margin-right: 100px;
  color: var(--green2);
}
.logout-button:hover {
  background-color: var(--light-grey);
  color: var(--green2);
}
.logout-button:hover img {
  content: url("multimedia/logout_hover.png");
}


/* Definições do container que inclui o aside e o main da página home.html */
.container {
  display: flex;
  justify-content: space-between;
}
/* Definições da barra lateral aside */
aside {
  max-width: 300px;
  height: 720px;
  float: left;
  background-color: var(--light-grey);
  text-align: center;
}

/* Título */
aside h3 {
  text-align: center;
  color: var(--green3);
  text-transform: uppercase;
  font-size: 15px;
  margin-top: 30px;
}
/* Campos para adicionar task */
#taskName,
#taskDescription {
  padding-left: 10px;
  width: 170px;
  background-color: var(--white);
  font-size: 12px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  font-family: Arial, Helvetica, sans-serif;
}  
#taskName {
  margin-bottom: 10px;
  height: 30px;
}
#taskDescription {
  resize: none;
  padding-top: 10px;
  height: 200px;
  line-height: 1.4;
}
/* Quando a task description não está selecionada mantém a border */
#taskDescription:not(:focus) {
  border: var(--green3) 2px solid;
}
#taskDescription::placeholder {
  font-size: 12px;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 140px;
}
label[for="taskCategory"] {
  margin-top: 20px; 
}

/* Botões de priority no home.html */
.task-buttons-home {
    display: flex;
    flex-direction: column;
  }
  .priority-buttons-home {
    justify-content: center;
    display: flex;
    gap: 8px;
    margin-bottom: 15px;
  }
  .priority-button-home {
    --button-shadow-color: #c3c3c3;
    margin-top: 15px;
    width: 56px;
    height: 30px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 4px 8px var(--button-shadow-color);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    background-color: var(--grey);
    transition: box-shadow 0.3s ease;
  }
  .priority-button-home {
    border-color: var(--black);
    color: var(--green3);
  }
  .priority-button-home.low {
    --grey: #a8db27;
  }
  .priority-button-home.medium {
    --grey: #ffd549;
  }
  .priority-button-home.high {
    --grey: #FF3232;
    color: color-mix(in srgb, var(--white), var(--white) 95%);
  }  
  .priority-button-home:hover {
    background-color: color-mix(in srgb, var(--grey), white 25%);
    transition: background-color 0.3s ease;
  }
  .priority-button-home.selected {
    background-color: color-mix(in srgb, var(--grey), white 10%) !important;
    border-width: 2px !important;
    border-color: #97A7B0 !important;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.8s ease;
    transform: translateY(4px);
  }
/* Botão add task */
#addTask {
  text-align: center;
  margin-top: 50px;
  width: 120px;
  height: 32px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  background-color: var(--done);
  color: var(--green3);
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}
#addTask:hover {
  background-color: var(--green3);
  color: var(--green1);
}
/* Mensagem de erro por não preenchimento de 1 dos 2 campos, ou do botão de priority */
#warningMessage2 {
  color: var(--green3);
  font-size: 14px;
  margin-top: 5px;
  text-align: center;
}

/* Definições do painel main, onde estao as secções do Scrum (To do, Doing, Done) */
/* Definições gerais de ambos os main (home.html e task.html) */

.top-section {
  background-color: var(--light-grey);
  height: 80px;
}


main {
  width: calc(100% - 300px);
  padding-left: 30px;
  padding-right: 30px;
  height: 720px;
  background-image: url ('multimedia/imagem de fundo.png');
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* Definições do main home.html */
.titulo-main {
  flex: 1;
}
.main-home {
  text-align: center;
  color: var(--green3);
  text-transform: uppercase;
  font-size: 20px;
  padding-top: 80px;
  padding-bottom: 10px;
  font-weight: bold; 
 
}

.main-home::after {
  content: "";
  display: block;
  width: 90%; 
  margin: auto; 
  border-bottom: 2px solid var(--green3);
  margin-top: 15px;
}

#filter-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: absolute;
  top: 90px; /* Ajuste este valor conforme necessário */
  width: 20%;
}

.filter {
  float: right; /* Move the comboboxes to the right */
  margin-left: 100px; /* Add space between the comboboxes */
}

.deleted-filter {
  position: relative;
  left: 200px; /* Move the checkbox to the left */
  top: -40px; /* Move the checkbox upwards */
}

input[type="checkbox"] {
  width: 200px; /* Adjust as needed */
}
#viewUsersButton {
  min-width: 100px;
  height: 40px;
  float: right;
  margin-left: 50rem; 
  color: white;
  background-color: var(--green3);
  border-radius: 5px;
}


/* Definições gerais dos painéis To do, Doing e Done */
.panel {
  flex: 1;
  height: 500px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-top: -60px;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  border: 3px solid #ddd;
  overflow: auto;
  /* Estilos da scroll bar */
  scrollbar-width: thin;
  scrollbar-color: var(--green2) var(--white);
}


/* Estilos da scroll bar (painéis da home.html e da task no task.html) */
/* Tamanho da barra */

label {
  display: block;
  font-size: 12px;
}
.priority-label {
  display: block;
  font-size: 12px;
  position: relative;
  margin-top: 20px; 
  margin-bottom: -10px;
}

.panel::-webkit-scrollbar,
.text-task::-webkit-scrollbar {
  width: 13px;
}
/* Cor da barra */
.panel::-webkit-scrollbar-thumb,
.text-task::-webkit-scrollbar-thumb {
  background-color: var(--green2);
  border-top-right-radius: 8px;
}
/* Distância à direita a que a barra fica da border, cor do trilho e arredondamento para fazer
match ao arredondamento do painel (home.html) */
.panel::-webkit-scrollbar-track,
.text-task::-webkit-scrollbar-track {
  margin-right: 1px;
  background-color: var(--white);
  border-top-right-radius: 9px;
}
/* Altura da scroll bar */
.panel::-webkit-scrollbar,
.text-task::-webkit-scrollbar {
  height: calc(100% - 2px);
  padding-right: 1px;
}
/* Definições das tasks no home.html */
.task {
  position: relative;
  width: 190px;
  height: 50px; /* tamanho do espaço em que é inserido cada post-it (inclui espaçamento entre post-its) */
  margin-top: 20px;
  background-color: var(--grey);
  margin-top: 30px;
  margin-bottom: 30px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
/* Esconde o texto da description */
.post-it-text {
  max-height: 0;
  transition: all 0.5s ease;
  overflow: hidden;
}
/* Definições do conteúdo de cada post-it */
.post-it {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: left;
}
.post-it h3 {
  font-size: 15px;
  text-transform: uppercase;
  padding-left: 13px;
}
.post-it p {
  font-size: 0.825rem;
  padding-inline: 13px;
  overflow: hidden;
  opacity: 1;
  display: -webkit-box; /* Define o display como flexível */
  -webkit-line-clamp: 6; /* número de linhas que o texto vai mostrar */
  -webkit-box-orient: vertical;
  margin: 0;
}
/* Cores dos post-it de acordo com a prioridade */
.task.low {
  --grey: #a8db27;
}
.task.medium {
  --grey: #ffd549;
}
.task.high {
  --grey: #FF3232;
  color: color-mix(in srgb, var(--white), var(--white) 95%);
}
/* Expansão de cada task para mostrar description e cruz de apagar */
/* Dimensão da janela do post-it totalmente expandida */
.task:hover {
  height: 190px;
  transition: all 0.5s ease-in-out;
}
/* Faz o texto do post-it aparecer */
.task:hover .post-it-text {
  max-height: 190px;
  transition: all 0.5s ease;
}
/* Dragging de cada tarefa */
.task.dragging {
  opacity: 0.5;
}
.task:hover {
  background-color: color-mix(in srgb, var(--grey), white 25%);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}
/* Definições da cruz que apaga a task */
/* Não mostra na mini-janela do post-it */
.task .apagarButton {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
/* Mostra na mini-janela do post-it */
.task:hover .apagarButton {
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
/* Posição do botão apagar */
.apagarButton {
  position: absolute;
  right: 10px;
  bottom: 10px;
  max-width: 17px;
  aspect-ratio: 1;
  cursor: pointer;
  transition: ease-on 0.01s;
}
/* Animação do botão apagar */
.apagarButton:hover {
  rotate: 360deg;
  transition: ease 0.01s;
}
/* Modal para confirmações - apagar tarefa no home.html, cancelar as alterações no task.html */
.modal {
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  white-space: nowrap;
  background-color: rgb(0 0 0 / 80%);
  backdrop-filter: blur(5px);
  display: none;
  place-items: center;
  z-index: 1;
}
.modal-content {
  padding: 2rem 3rem;
  background-color: white;
  max-width: 25%;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  pointer-events: all;
}
.modal button {
  text-align: center;
  margin: 0 auto;
  width: 110px;
  height: 32px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  background-color: var(--done);
  color: var(--green3);
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}
.modal button:hover {
  background-color: var(--green3);
  color: var(--green1);
}
.modal p {
  text-align: center;
  grid-column: 1 / 3;
}
/* Media para ecrãs pequenos */
@media (max-width: 768px) {
  main {
    flex-direction: column;
  }
  .panel {
    flex: none;
    width: calc(100% - 100px);
    margin: 20px auto;
  }
}

#usernameTask {
  position: relative;
  left: 500px;
  font-size: 15px;
}

/* Definições do main na task.html */
.main-task {
  width: auto;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  background-image: url("multimedia/background_main_task.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* Media para ecrãs pequenos */
@media (max-width: 768px) {
  .main-task {
    flex-direction: column;
  }
}
/* Definições da task */
.detalhes-task {
  margin-top: 40px;
  margin-right: 30px;
  margin-left: 20px;
  align-items: center;
  text-align: center;
}
/* Definições do breadcrumb */
.breadcrumb {
  margin-left: 75px;
  background-color: var(--white);
  text-align: left;
  color: var(--green3);
  font-size: 14px;  
  padding: 10px;
}
.breadcrumb ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.breadcrumb li {
  display: inline;
  margin-right: 5px;
}
.breadcrumb li::after {
  content: " >";
  margin-left: 5px;
  color: var(--green3);
}
.breadcrumb li:last-child::after {
  content: none;
}
.breadcrumb a {
  text-decoration: underline;
  color: var(--green3);
}
.breadcrumb a:hover {
  text-decoration: underline;
  color: var(--green1);
}
#task-bc {
  text-transform: uppercase;
}
.main-task #titulo-task,
.main-task #descricao-task {
  margin-left: 80px;
  width: 500px;
  padding: 20px;
  resize: none;
  background-color: color-mix(in srgb, var(--todo), transparent 75%);
  color: var(--green3);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-color: var(--green3);
  border-width: 2px;
  font-family: Arial, Helvetica, sans-serif;
}
.main-task #titulo-task {
  margin-top: 14px;
  margin-bottom: 20px;
  height: 25px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 20px;
  font-weight: 500;
}
.main-task #descricao-task {
  height: 260px;
  font-size: 14px;
  line-height: 1.4;
}
.text-task {
  scrollbar-color: var(--green2) var(--white);
}
/* Definições dos botões save e cancel */
.task-save {
  justify-content: center;
  margin-left: 100px; 
  margin-top: 30px; 
  display: flex;
  gap: 30px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

#taskDate {
  display: flex;
  justify-content: flex-start;
  margin-left: 30px; /* Reduzido para mover os inputs mais para a esquerda */
  margin-top: 20px;
  flex-direction: row; /* Mantido como row para que os divs filhos sejam exibidos em uma linha */
  gap: 40px;
}

#taskDate div {
  display: flex;
  flex-direction: column; /* Mantido como column para que a label esteja acima do input */
  margin-right: 20px; /* Mantido para dar espaço entre os pares de label e input */
}

label {
  display: block;
  font-size: 12px; 
}

#taskDate input{
  height: fit-content;
  width: fit-content;
  align-self: center;
  margin-top: 20px; 
  margin-bottom: 10px;
  margin-left: -100px;

  
.dateinput{
  margin: 5px;
  width: 150px;
  height: 25px;
  padding-left: 5px;
  background-color: var(--white);
  font-size: 12px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  font-family: Arial, Helvetica, sans-serif;
}  
  
}
#save-button,
#cancel-button {
  width: 150px;
  height: 45px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 4px 8px var(--grey);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
#save-button:hover,
#cancel-button:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.8s ease;
  transform: translateY(4px);
}
#save-button {
  background-color: var(--black);
  color: var(--green1);
  border-color: var(--todo);
}
#cancel-button {
  background-color: var(--todo);
  color: var(--black);
  border-color: var(--black);
}
#warningMessage3 {
  color: #FF3232;
  font-size: 16px;
  font-weight: bold;
  margin-top: 25px;
  margin-left: 80px;
  text-align: center;
}

/* Definições gerais de status e priority */
.status-and-priority {
  margin-left: 100px;
  margin-top: 90px;
  width: 520px;
  height: 393px;
  background-color: color-mix(in srgb, var(--todo), transparent 75%);
  border: 2px solid var(--green3);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.task-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.task-buttons .taskH4 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 30px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 20px;
  color: var(--green3);
}
/* Definições dos botões de status e priority */
.task-status .status-buttons,
.task-priority .priority-buttons {
  justify-content: center;
  display: flex;
  gap: 40px;
}
.status-button,
.priority-button {
  --button-shadow-color: #c3c3c3;
  width: 100px;
  height: 45px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 4px 8px var(--button-shadow-color);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  background-color: var(--grey);
  transition: box-shadow 0.3s ease;
}
.status-button:hover,
.priority-button:hover {
  --button-shadow-color: #808080;
  transition: box-shadow 0.3s ease;
}
/* Definições dos botões de status */
.status-button {
  border-color: var(--black);
  color: var(--green3);
}
.status-button.todo {
  --grey: var(--todo);
}
.status-button.doing {
  --grey: var(--doing);
}
.status-button.done {
  --grey: var(--done);
}
.status-button:hover {
  background-color: color-mix(in srgb, var(--grey), var(--black) 25%);
  transition: background-color 0.3s ease;
}
/* Definições dos botões de priority */
.priority-button {
  border-color: var(--black);
  color: var(--green3);
}
.priority-button.low {
  --grey: #a8db27;
}
.priority-button.medium {
  --grey: #ffd549;
}
.priority-button.high {
  --grey: #FF3232;
  color: color-mix(in srgb, var(--white), var(--white) 95%);
}
.priority-button:hover {
  background-color: color-mix(in srgb, var(--grey), white 25%);
  transition: background-color 0.3s ease;
}
/* Definições dos botões de status e priority quando selecionados */
.status-button.selected, 
.priority-button.selected {
  border-color: #97A7B0 !important;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.8s ease;
  transform: translateY(4px);
}
.status-button.selected {
    background-color: color-mix(in srgb, var(--green3), white 10%) !important;
    border-width: 2px !important;
    color: #8AD6FF !important;
}
.priority-button.selected {
  background-color: color-mix(in srgb, var(--grey), white 30%) !important;
}

/* Definições do footer */
footer {
  width: auto;
  padding-block: 20px;
  background-color: var(--black);
  color: var(--light-grey);
  text-align: center;
}
.footer-content {
  padding-block: 20px;
  font-size: 17px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
  row-gap: 12px;
}
.label-left {
  padding-left: 500px;
  text-align: left;
}
.label-right {
  text-align: left;
}


/* Divisoes da pagina home e task */
@media (max-width: 1024px) {
  body {
    background-color: #cccccc;
  }
  header,
  footer {
    width: 100%;
  }
  aside {
    width: 100%;
    float: none;
  }
  main {
    width: 100%;
    margin: 0;
  }
}
@media (min-width: 768px) {
  body {
    background-color: #cccccc;
  }
  aside {
    width: 100%;
    float: none;
  }

  main {
    width: 100%;
    margin: 0;
  }
}

#editCategoriesModal .modal-content {
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 800px; 
  height: 500px; 
  padding-top: 10px;
  background-color: white;
  color: var(--green3);
  
}

#editCategoriesModal .modal-title {
  text-align: center;
}

#editCategoriesModal .close-button {
  align-self: flex-start;
}
/* Remove background color and margins from the buttons */
#editCategoriesModal button {
  background-color: transparent;
  margin: 0;
  padding: 5px 10px; /* Adjust as needed */
  margin: 0 5px;
  border: none;
  width: 30px; /* Adjust as needed */
  height: 30px;
}

.table-container {
  width: 100%; /* Set the container width to 100% */
  height: 80%;
  position: relative; /* Set the position to relative */
  overflow: auto;
  
}

table {
  border-collapse: collapse;
  width: 100%; /* Set the table width to 100% */
}

table td {
  text-align: left; /* Align the text to the left */
}

table tr {
  border-top: 1px solid var(--green3);
}
table tr:last-child {
  border-bottom: 1px solid var(--green3);
}
#saveEditCategories {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.delete-cell {
  display: flex;
  justify-content: space-between;
}
input::placeholder {
  font-size: 16px; /* Adjust this value as needed */
}


#addCategoryModal .modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px; /* Or whatever width you want */
  height: 300px; /* Or whatever height you want */
}
.add-category-input {
  width: 100%; /* Or whatever width you want */
  height: 40px; /* Or whatever height you want */
}


/*---------------------PAGINA REGISTO---------------------------------*/
#registrySection {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 3rem;
  margin-top: 0.7rem;
  position: relative; 
}

#registrySection .inputs,
#registrySection #passwordDiv {
  margin-bottom: 0.5rem; 
}

#registrySection .inputs label,
#registrySection #passwordDiv label {
  font-size: 1rem; 
  font-weight: bold;
}

#registrySection .inputs input,
#registrySection #passwordDiv input {
  font-size: 1rem; 
  margin-bottom: 0.5rem;
}


#registrySection #passwordDiv {
  display: flex; 
  justify-content: space-between; 
  width: 100%; 
  margin-bottom: 1rem; 
  margin-top: -1rem;
}

#registrySection #passwordDiv .password:first-child {
  margin-right: 2rem; 
}

#registryButtons {
  position: relative;
  top: -5.6rem; 
  right: -70rem; 
}
#submitRegistryButton, #cancelRegistryButton {
  background-color: var(--green1); 
  padding: 15px 32px; 
  text-align: center; 
  display: inline-block;
  font-size: 16px;
  margin: 2px 1px;
  cursor: pointer;
  border-radius: 5px; 
}

#cancelRegistryButton {
  margin-right: 30px; 
}

#profileImageLabel {
  position: absolute; 
  right: 420px;
  top: 30px; 
  z-index: 1; 
  font-weight: bold;
  font-size: 20px; 
  color: var(--green3);
}

#profileImage {
  width: 200px; 
  height: 200px; 
  border-radius: 50%; 
  border: 1px solid black; 
  object-fit: cover; 
  position: absolute; 
  left: 940px; 
  top: 70px; 
}


/*----------------------------PAGINA DE EDIÇÃO----------------------*/
#confirmChanges{
  top: 9.375rem;
  height: 9.375rem;
  width: 15.625rem;
  position: absolute;
  z-index: 1;
}
#editSection{
  display:flex;
  text-align: center;
  justify-content: space-around;
  height: 32.5rem;
}
#editUserValues{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: fit-content;
  width: fit-content;
  position:relative;
  height: 20rem;
  top:1.25rem;
  left: -30rem;
  font-size: large;
  font-weight: bold;

}
.labels-edit-profile {
  font-size: 20px;
  display: flex;
  text-align: left;
  margin-left: 0.5rem;
  color: var(--green3);
  margin-top: 10px;
  
}
.input-edit-profile {
border-top-left-radius: 5px;
border-top-right-radius: 5px;
width: 300px;
height: 30px;
font-size: 18px;
margin-bottom: 30px;
}

#left-edit-profile, #right-edit-profile {
  display: flex;
  flex-direction: column;
  padding: 0 20px; /* Adiciona espaço à esquerda e à direita de cada coluna */
}

#editUserValues input{
  margin:.3125rem;
  justify-content: space-between;
  width: 12.5rem;
  height: 1.25rem;

}
#editUserValues .column {
  display: flex;
  flex-direction: column;
}

#photoUpload{
  position:relative;
  left: -7rem;
  top:15.625rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#btnEditprofile{
  position:relative;
  top:28rem;
  left:4rem;
  height: fit-content;
}
#btnEditprofile button:hover{
  background-color: var(--green3);
  color: var(--green1);
}
#btnEditprofile button{
  font-size: larger;
  position: relative;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: bold;
  background-color: var(--doing);
  color: var(--green3);
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
  height: 3.125rem;
  width: 5rem;
}
#buttonSubmitData {
  margin-left: 40px; 
}

#profilePicEdit{
  position: relative;
  left:15.625rem;
  top:2.5rem;
}
#profileImageHomeReg{
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  position: relative;
  left: 8rem;
}
#btnToEdit{
  position:relative;
  top: -2.1875rem;
  left: 8.75rem;
  cursor:pointer;
}
#profileImageEdit {
  position: absolute;
  left: 600px;
  border-radius: 50%;
  width: 250px; 
  height: 250px;
  top: 80px;
}

#profileImageLabelEdit {
  position: absolute;
  left: 1020px;
  top: 165px;
  font-size: 20px; 
  text-align: left; 
  color: var(--green3);
  font-weight: bold;
}
#loginReg {
  position: relative;
  left: 9.5rem;
}

/*---------------------PAGINA DE USERS-----------------------------*/
.main-container {
  display: flex;
}

aside {
  flex: 1;
}

.column-container {
  flex: 3;
  display: flex;
  justify-content: flex-start;
}

.column {
  flex: 1;
  margin: 1rem;
  padding: 1rem;
  border: 3px solid #ddd;
  border-radius: 5px;
}
.column h2 {
 
  color: var(--green3);
  padding: 10px;  
  border-bottom: 2px solid var(--green3);
}

#addUser, #viewDeletedUsers {
  display: block;
  width: 60%;
  padding: 10px; 
  margin-top: 70px;
  margin-left: 60px;
  font-size: 16px;
  cursor: pointer;
  background-color: var(--green3);
  color: white; 
  border: none; 
  border-radius: 5px;
}

#viewDeletedUsers {
  margin-top: 20px;
  margin-bottom: 20px;
}
#backButton {
  position: absolute; 
  top: 95px;
  left: 10px;
  font-size: 16px;
  cursor: pointer;
}

li.link-bc {
  list-style: none; 
}

li.link-bc a {
  color: var(--green3);
}
.userPhoto {
  width: 50px; 
  height: 50px; 
  border-radius: 50%; 
  margin-right: 10px;
}

.userButton {
  margin-bottom: 10px; 
  border: none;
  background-color: transparent;
  font-weight: bold; 
  color: var(--green3); 
}
.userButton:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Isso escurece o botão quando o mouse passa por cima */
}

.user {
  display: flex;
  align-items: center;
  margin-bottom: 15px; 
}

#logo {
  width: 300px; 
  margin-top: 20px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  box-sizing: border-box;
  max-width: 100%;
  background-color: var(--green3);
  color: #ffffff; /* Letras brancas */
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 80%;
  position: absolute;
  top: 45%; /* Ajuste este valor para mover o modal para cima */
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
}

.close {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute; /* Adicionado */
  top: 8px; /* Adicionado */
  right: 8px; /* Adicionado */
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#addUserForm {
  display: flex;
  justify-content: space-between;
}

#addUserForm .form-fields {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width: 70%; 
}


#addUserForm .form-field {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px; /* Ajuste conforme necessário */
}

#addUserForm div {
  display: flex; /* Adicionado */
  flex-direction: column; /* Adicionado */
}


#addUserForm input {
  text-align: left; 
  margin-bottom: 5px;
}

#addUserForm label {
  text-align: left;
  padding-right: 10px;
}

#addUserForm label,
#addUserForm input {
  font-size: 15px; /* Aumenta o tamanho dos campos e labels */
  width: 100%; /* Faz os campos ocuparem toda a largura disponível */
}

#addUserForm input[type="submit"] {
  position: absolute; /* Adicionado */
  bottom: 10px; /* Adicionado */
  right: 10px; /* Adicionado */
  width: 100px; /* Ajuste para o tamanho desejado */
  height: 30px; /* Ajuste para o tamanho desejado */
}
#userPicturePreview {
  width: 310px;
  height: 240px;
  border-radius: 50%;
  object-fit: cover;
  background-color: transparent; /* Fundo transparente */
  border: 1px solid white; /* Margens pretas */
  order: 2;
  position: relative;
  left: calc(100% - 1px); /* Move o círculo para a direita */
  top: 100px; /* Move o círculo para baixo */
  overflow: hidden;
}



#modalTitle {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

label[for="userPicturePreview"] {
  position: absolute;
  top: 100px;
  left: 122%;
  transform: translateX(-50%);
  text-align: center;
}
#role {
  height: 26px; 
  width: 103%;
}

/*/////////////////////////////MODAL VIEW USER//////////////////////////////*/

/* Estilo para o conteúdo do novo modal */
#myModalView .modal-content {
  display: flex; /* Organiza os filhos em linha */
  
  width: 50%; 
  padding: 20px;
}

/* Estilo para as labels no novo modal */
#myModalView .modal-left label {
  text-align: left; /* Alinha as labels à esquerda */
  font-size: 18px;
}


/* Estilo para o botão de fechar */
#myModalView .close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* Estilo para o título do usuário */
#myModalView .user-title {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

/* Estilo para a parte esquerda do novo modal (labels e placeholders) */
#myModalView .modal-left {
  flex: 1; /* Ocupa metade do espaço disponível */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Estilo para os campos de entrada no novo modal */
#myModalView .modal-left input {
  margin-bottom: 20px;
  width: 80%; /* Reduz o tamanho dos campos de entrada */
  font-size: 18px;
}

/* Estilo para o botão de salvar */
#myModalView .modal-left .save {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/* Estilo para a parte direita do novo modal (imagem) */
#myModalView .modal-right {
  flex: 1; /* Ocupa metade do espaço disponível */
  display: flex;
  justify-content: center;
  align-items: center;
}

#myModalView #userPhotoViewUser {
  width: 200px; /* Define a largura da imagem */
  height: 200px; /* Define a altura da imagem */
  border-radius: 50%; /* Faz a imagem aparecer redonda */
  object-fit: cover; /* Garante que a imagem cubra todo o espaço disponível sem distorção */
}

#delete-button {
  position: absolute; /* Posiciona o botão em relação ao div .modal-left */
  bottom: 0; /* Alinha o botão com a parte inferior do div .modal-left */
  left: 0; /* Alinha o botão com o lado esquerdo do div .modal-left */
}

.taskdeleted {
  position: relative;
  width: 190px;
  height: 50px; /* tamanho do espaço em que é inserido cada post-it (inclui espaçamento entre post-its) */
  margin-top: 20px;
  background-color: var(--grey);
  margin-top: 30px;
  margin-bottom: 30px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.taskdeleted.low {
  --grey: #a8db27;
}
.taskdeleted.medium {
  --grey: #ffd549;
}
.taskdeleted.high {
  --grey: #FF3232;
  color: color-mix(in srgb, var(--white), var(--white) 95%);
}
/* Expansão de cada task para mostrar description e cruz de apagar */
/* Dimensão da janela do post-it totalmente expandida */
.taskdeleted:hover {
  height: 190px;
  transition: all 0.5s ease-in-out;
}
/* Faz o texto do post-it aparecer */
.taskdeleted:hover .post-it-text {
  max-height: 190px;
  transition: all 0.5s ease;
}
.taskdeleted:hover {
  background-color: color-mix(in srgb, var(--grey), white 25%);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}
/* Definições da cruz que apaga a task */
/* Não mostra na mini-janela do post-it */
.taskdeletd .restoreButton {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
/* Mostra na mini-janela do post-it */
.taskdeleted:hover .restoreButton {
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
/* Posição do botão apagar */

/* Animação do botão apagar */
.apagarButton:hover {
  rotate: 360deg;
  transition: ease 0.01s;
}
.restoreButton {
  position: absolute; /* Posiciona o botão no canto superior esquerdo */
  bottom: 10px;
  left: 10px;
  font-size: 16px;
  cursor: pointer;
  opacity: 0;
  max-width: 17px;
  aspect-ratio: 1;
  transition: ease-on 0.01s;
  
}
.restoreButton:hover {
  rotate: 360deg;
  transition: ease 0.01s;
  opacity: 1;
  transform: scale(1.5);
}

